*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.App{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://cdn.wallpapersafari.com/62/74/a2jd0u.jpg); */
    background-size: cover;
    background-position: center;
    
}
.cont_weather{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color:  #3F888F;
    opacity: 0.8;
    z-index: 1;
}
.cont_inf{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.cont_img{
    width: 40%;
}
img{
    width: 100%;
}
.items_list{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0;
}
.descrip{
    font-size: 1.4rem;
    text-transform: capitalize;
    margin: 10px;
}
.ulist{
    text-align: start;
    list-style-type: square;
    margin: 1rem;
    padding: 0;
}
li{
    margin: 7px 0;
}
.temp{
    margin-top: 0;
}
.btn_change{
    padding: 10px;
    background-color: #252850;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    color: white;
}

/* Loading Page */

.Loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
@media screen and (max-width:600px) {

    .cont_weather{
        width: 400px;
        margin-right: 0;
    }
    
}
@media screen and (max-width:410px) {

    .cont_weather{
        width: 200px;
        margin-right: 0;
    }
    .cont_inf{
        flex-direction: column;
    }
    .cont_img{
        width: 100%;
    }
    .items_list{
        width: 100%;
    }
}